body {
    font-family: 'Roboto', sans-serif;
}

.main-block {
    width: 300px;
    height: 120px;
    background-color: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 40px;
}

.main-block-message {
    font-size: 23px;
}
